<header class="header_app">
     <h1>SISTEMA INTEGRADO DE GESTIÓN INSTITUCIONAL</h1>
</header>
<div class="container fondo">
    <div class="card">
      <div class="card2 primero">
        
        <a class="enlace" [routerLink]="['cumplimientoPOE']" href="#">Cumplimiento del Plan Operativo Electoral</a>
        <div class="ifra">
          <iframe  src="https://app.powerbi.com/view?r=eyJrIjoiOGVmNGNmNTctNzBjMS00NWFjLTk1ZGQtOWE0MWFiZTY2MWFkIiwidCI6IjllMDIzZGMwLTYyMmUtNDFkOC1hMjM0LTIwYTBiNzIyZmI4NiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card2 segundo">
        <a class="enlace" [routerLink]="['participarC']" href="#">Participación Ciudadana</a>
        <div class="ifra">
        <iframe  src="https://app.powerbi.com/view?r=eyJrIjoiMDhjNTk2NWItMTEzNy00NzQ5LThjN2QtN2Y2OTVjYWYyNWUwIiwidCI6IjllMDIzZGMwLTYyMmUtNDFkOC1hMjM0LTIwYTBiNzIyZmI4NiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card2 tercero">
        <a class="enlace" [routerLink]="['consultarMM']" href="#">Consultas de Miembros de Mesa</a>
        <div class="ifra">
            <iframe width="800" height="600" src="https://app.powerbi.com/view?r=eyJrIjoiMmM0MWU4ZGMtOGRjYS00ZWI4LTgwYzUtYzM5MDRiMTM0MWQ1IiwidCI6IjllMDIzZGMwLTYyMmUtNDFkOC1hMjM0LTIwYTBiNzIyZmI4NiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card2 cuarto">
        <a class="enlace" [routerLink]="['credencialMM']" href="#">Credenciales de Miembros de Mesa</a>
        <div class="ifra">
          <iframe src="https://app.powerbi.com/view?r=eyJrIjoiZTQwZTg5ODYtNmU2MC00YzE3LWFmNjQtODNlMDM0YTk0OTY1IiwidCI6IjllMDIzZGMwLTYyMmUtNDFkOC1hMjM0LTIwYTBiNzIyZmI4NiIsImMiOjR9" frameborder="0" allowFullScreen="true"></iframe>
        </div>
      </div>
    </div>
  </div>